.header-text {
    color: blue
}

.list-component {
    margin-left: 40px;
}

.header {
    text-align: center;
}

.itinerary-header {
    margin-left: 40px;
}

.form-fields {
    display: flex;
    border: black;
    justify-content: space-evenly;
    flex-direction: horizontal;
}

.form-container {
    margin-left: 25px;
    margin-right: 25px;
    outline: solid 2px black;
    padding: 30px;
}